.rdp-root{
    --rdp-day_button-width: 100%;
    --rdp-day_button-height: 50px;
}
.rdp-months{
    width: 100%;
    max-width: none;
}
.rdp-month{
    width: 100%;
    /* max-width: none; */
}
.rdp-month_grid{
    width: 100%;
}
.rdp-day {
  background-color: #fff;
}
.rdp-day.disabled-day{
    background-color: #e8e8e8;
}
.rdp-day.selected-day {
  background-color: var(--clr-primary);
  color: white;
}
.disabled-day {
  pointer-events: none;
}
