*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-bg: #f0f0ff;
  --clr-primary-100: #f5e4ff;
  --clr-primary: #fb3133;
  --clr-primary-600: #c12629;
  --clr-yellow: #ffcc24;
  --clr-border: #b5b5b5;
  --clr-elements: white;
  --clr-text: #414141;
  --clr-text-muted: #767676;
  --clr-danger: #d03111;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

body {
  background-color: var(--clr-bg);
  font-family: "Raleway", sans-serif;
}
p {
  color: var(--clr-text);
}
img{
  width: 100%;
}


.full-page-loader-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99;
  inset: 0px;
  background-color: #0005;
}
.full-page-loader-inner{
  background-color: var(--clr-elements);
  padding: 1rem;
}
.spinner{
  color: var(--clr-primary);
  line-height: 100%;
  font-size: 40px;
}
.spinning{
  animation: spinning 800ms linear infinite;
}
@keyframes spinning {
  to{
    transform: rotate(360deg);
  }
}

.modal-container{
  position: fixed;
  z-index: 2;
  inset: 0;
  display: flex;
  background-color: #0005;
  backdrop-filter: blur(5px);
}
.modal-close{
  line-height: 1em;
  border: none;
  color: var(--clr-text);
  font-size: 2rem;
  background-color: unset;
  cursor: pointer;
  display: block;
  margin-inline-start: auto;
}
.small-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
}
.medium-container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
}
.student-details-container{
  flex-grow: 1;
}

.section-title {
  font-weight: 400;
  font-size: 2rem;
  margin-block: 2rem;
}

.card {
  background-color: var(--clr-elements);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 20px #0002;
}

.card-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
  color: var(--clr-primary);
}

.card-description {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 2rem;
}

/* Inputs */
.label {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--clr-text-muted);
  display: block;
  margin-bottom: 0.25rem;
}
.input-container {
  margin-bottom: 1rem;
}
.input {
  font: inherit;
  border-radius: 0.25rem;
  outline: none;
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--clr-border);
}
.input:focus {
  border-color: var(--clr-primary);
}
.input-info{
  font-size: 0.8rem;
  color: var(--clr-text);
}

.select{
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--clr-border);
  border-radius: 0.25rem;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-block: 1rem;
  gap: 1rem;
}
.button-group .button {
  width: auto;
}

.button {
  border-radius: 0.25rem;
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: var(--clr-border);
  border: 1px solid transparent;
  transition: all 100ms;
}
.button-fit{
  width: fit-content;
}
.button:active {
  transform: translateY(5px);
}

.button.button-primary {
  color: white;
  background-color: var(--clr-primary);
}
.button.button-primary-outline {
  color: var(--clr-primary);
  background-color: var(--clr-primary-100);
  border-color: var(--clr-primary);
}
.button.button-primary:active {
  background-color: var(--clr-primary-600);
}
.button-danger{
  background-color: var(--clr-danger);
  color: var(--clr-elements);
}
:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.link {
  display: block;
  padding: 0.5em; /* For better click */
}
.link-primary {
  color: var(--clr-primary);
}
.link:hover,
.link:focus {
  text-decoration: underline;
}
.link-primary:hover,
.link-primary:focus {
  color: var(--clr-primary-600);
}
.link-danger {
  color: var(--clr-danger);
}

.tile {
  cursor: pointer;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border: 1px solid var(--clr-border);
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: var(--clr-elements);
}
.tile-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.tile:hover {
  border-color: var(--clr-primary);
}
.tile:hover .tile-title {
  color: var(--clr-primary);
}
.tile-description {
  line-height: 1.25em;
  height: 2.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.home-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.home-header-logo-container{
  width: 150px;
  flex-shrink: 0;
}
.home-header-links{
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.home-header-buttons{
  white-space: nowrap;
  display: flex;
  gap: 1rem;
}

.home-footer{
  text-align: center;
}
.footer-copyright{
  padding: 0.5rem;
  text-align: center;
  color: white;
  background-color: var(--clr-text);
}
.footer-copyright-text{
  color: inherit
}
.footer-nav{
  background-color: var(--clr-yellow);
  padding: 1rem;
}
.footer-links{
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

.footer-link{
  color: var(--clr-text);
  font-weight: 500;
}
.footer-link:hover{
  text-decoration: underline;
  color: var(--clr-primary);
}

.logo-text{
  color: var(--clr-primary);
  font-weight: 400;
}
.header {
  padding-top: 1rem;
  margin-bottom: 2rem;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--clr-bg);
}
.header-links {
  display: flex;
  justify-content: space-between;
}

/* .table-container{
  margin-top: 2rem;
} */
.main-content{
  margin-top: 100px;
}
.main-title{
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 0.5em;
}
.secondary-title{
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1em;
}
.small-title{
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.6em;
}
.description{
  margin-block: 2rem;
}
.table {
  background-color: white;
  padding: 1rem;
  width: 100%;
  table-layout: fixed;
}
.table.bordered{
  border-spacing: 0px;
}
.table.bordered td{
  border: 1px solid var(--clr-border);
}

.table th {
  text-align: start;
}
.table-action-head {
  width: 100px;
}
.table-filters {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: var(--clr-primary);
  padding: 0.5rem;
}
.table-record-count {
  color: white;
}

.table-filter {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.table-filter-input {
  border-radius: 0.25rem;
  border: none;
  flex-grow: 1;
  padding: 0.5em;
  outline: none;
}
.table-filter-button {
  line-height: 1em;
  border: none;
  background-color: var(--clr-primary-100);
  color: var(--clr-primary);
  padding: 0.5rem 1.5rem;
}

.table-cell {
  padding: 0.5rem;
}
.table tr {
  background-color: var(--clr-elements);
}
.table-actions {
  width: max-content;
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
}
.table-action {
  font: inherit;
  line-height: 1em;
  padding: 0px;
  cursor: pointer;
  border: none;
  background-color: unset;
}

.action-primary {
  color: var(--clr-primary);
}
.action-danger {
  color: var(--clr-danger);
}

.detail-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
}
.detail-name {
  flex-grow: 1;
  max-width: 200px;
  color: var(--clr-text-muted);
}
.detail-value {
  font-weight: 500;
}


.aside-links{
  display: flex;
  justify-content: flex-end;
}


/* time picker css */
.time_slot_wrap{
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  margin-bottom: 1rem;
  padding: 8px 4px;
}
.time_slot_wrap .start_time,
.time_slot_wrap .end_time{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.time_slot_wrap .start_time label,
.time_slot_wrap .end_time label{
  text-align: center;
  font-weight: 600;
}
 .add_btn_wrap{
  width: 100%;
  display: flex;
  justify-content: center;
}
.time_slot_remove{
  cursor: pointer;
  color: var(--clr-danger);
  line-height: 100%;
  padding: 0px;
  border: none;
  font-size: 1.5rem;
  background: none;
}
.modal-container .card::-webkit-scrollbar{
  display: none;
}
.modal-container .card{
  max-height: 90dvh;
  max-height: 90dvh;
  overflow-y: auto;
}
.input-container.date-picker{
  position: relative;
}
.input-container.date-picker .drp_custom_wrap{
  width: 100%;
  max-width: 300px;
  position: absolute;
  top: 120%;
  left: 50%;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 0px 20px 0px #0000004d;
  transform: translate(-50%, 0px);
  z-index: 1;
  
}
.input-container.date-picker .drp_custom_wrap .close_drp{
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
}
.input-container.date-picker .drp_custom_wrap .close_drp:hover{
  background: rgb(194, 194, 194);
}
.input-container.date-picker .drp_custom_wrap .close_drp svg{
  width: 32px;
  height: 32px;
}
.input-container.date-picker .rdp-root .rdp-month{
  padding: 1rem;
}
.input-container.date-picker .rdp-root .rdp-day:hover{
  background: rgb(194, 194, 194);
}
.input-container.date-picker .rdp-root .rdp-day.selected-day{
  background: rgb(107, 84, 255);
}
.input-container.date-picker .date-opener-button{
  border: 1px solid var(--clr-border);
  border-radius: 4px;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  background: transparent;
  color: rgb(117, 117, 117);
}

.select{
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--clr-border);
  border-radius: 0.25rem;
}

.checkbox-container{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.checkbox{
  height: 25px;
  width: 25px;
  border: 1px solid var(--clr-border);
  background-color: transparent;
  font-size: 20px;
  display: grid;
  place-items: center;
  color: white;
  cursor: pointer;
}
.checkbox.checked{
  background-color: var(--clr-primary);
}
.custom-time-picker .react-time-picker{
  width: 100%;
}

.pill{
  height: 20px;
  width: 20px;
  background-color: var(--clr-text-muted);
  border-radius: 50%;
}
.pill.active{
  background-color: var(--clr-danger);
}

.booking-list-container{
  display: flex;
  flex-wrap: wrap;
}
.booking-header{
  flex: 1 0 100%;
  text-align: center;
  margin-bottom: 1rem;
}
.booking-title{
  font-size: 1.2rem;
  color: var(--clr-primary);
}

.booking-button{
  cursor: pointer;
  flex: 0 0 25%;
  padding: 0.5rem;
  border: 2px solid var(--clr-bg);
  background-color: var(--clr-primary);
  color: white;
}
.booking-button.booked{
  background-color: var(--clr-danger);
}


.hero-section{
  min-height: 75vh;
  position: relative;
  isolation: isolate;
  display: flex;
  flex-direction: column;
}
.hero-bg{
  z-index: -2;
  position: absolute;
  inset: 0;
}
.hero-bg-overlay{
  z-index: -1;
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.35;
}
.hero--bg-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero-content{
  margin: auto;
}

.yellow-bg-title{
  background-color: var(--clr-yellow);
  padding: 1rem;
  font-size: 3rem;
  font-weight: 800;
}

.hero-text-container{
  background-color: white;
  padding: 1rem;
}


.process-container{
  margin-bottom: 50px;
  padding-inline: 20px;
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  gap: 2rem;
}

.process-icon{
  font-size: 30px;
  color: var(--clr-primary);
  margin-bottom: 25px;
}

.process-number{
  line-height: 50%;
  position: absolute;
  top: 0px;
  right: 0;
  color: var(--clr-primary);
  font-size: 200px;
  opacity: 0.07;
  pointer-events: none;

}

.process-item{
  overflow: hidden;
  position: relative;
  flex: 1 1 25%;
  background-color: white;
  box-shadow: 0px 0px 20px #0002;
  padding: 2rem 1rem;
}

.process-title{
  font-size: 1.2rem;
  margin-bottom: 0.75em;
}
.process-description{
  font-weight: 500;
}



.content-container{
  padding-inline: 20px;
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}
.content{
  margin-block: 50px;
}
.content-left,
.content-right{
  width: 50%;
  flex-shrink: 0;
  margin-block: 50px;
}

.content-title{
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.content-description{
  font-weight: 500;
  margin-bottom: 2rem;
}
.cta-buttons{
  display: flex;
  gap: 1rem;
}
.cta-button{
  display: block;
  width: fit-content;
  font-size: 1.2rem;
  padding: 0.8rem 2rem;
  border: 2px solid transparent;
  min-width: 120px;
  background-color: var(--clr-primary);
  color: white;
  border-radius: 0.5rem;
  text-align: center;
  box-shadow: 0px 2px 5px #0003;
}
.cta-button.outlined{
  background: white;
  border: 2px solid transparent;
  color: var(--clr-primary);
}
.cta-button.outlined:hover{
  border-color: var(--clr-primary);
}

.content-image{
  width: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 0px white, 20px 20px 0px var(--clr-primary) ;
}


.founders-container{
  padding-inline: 20px;
  display: flex;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  margin-bottom: 50px;
}

.founders{
  transition: border-color 150ms;
  border: 1px solid transparent;
  flex: 1 1 50%;
  background-color: white;
  padding: 2rem;
  box-shadow: 0px 0px 20px #0002;
}
.founders-image-container{
  margin-inline: auto;
  margin-bottom: 1.5rem;
  height: 200px;
  width: 200px;
  overflow: hidden;
  display: block;
  border-radius: 50%;
  border: 5px solid var(--clr-primary);
}
.founders-image{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.founders-content{
  text-align: center;
}
.founders:hover{
  border-color: var(--clr-primary);
}
.founders:hover .founders-name{
  color: var(--clr-primary);
}
.founders-name{
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1em;
  transition: color 150ms;
}
.founders-description{
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 1em;
}

.image-gallery-container{
  padding-inline: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-inline: auto;
}

.image-gallery-inner{
  padding: 5px;
  flex: 1 1 50%
}

.image-gallery-inner.horizontal{
  flex: 1 1 100%;
}
.image-gallery-item{
  height: 100%;
}
.image-gallery-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.location-container{
  padding-inline: 20px;
  max-width: 1200px;
  margin-inline: auto;
}

.location-card{
  text-align: center;
  width: 100%;
  max-width: 500px;
  margin-inline: auto;
  background-color: white;
  box-shadow: 0px 0px 20px #0002;
  padding: 1rem;
}
.location-icon{
  font-size: 26px;
  color: var(--clr-primary);
  margin-bottom: 1rem;
}
.location-name{
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 0.5em;
  color: var(--clr-text);
}
.location-description{
  margin-bottom: 2em;
  font-weight: 500;
  color: black;
}

.about{
  display: flex;
  flex-direction: column;justify-content: space-between;  min-height: 100svh;
}