@media screen and (max-width: 769px) {
    .home-header{
        padding-inline: 0.5rem;
        flex-wrap: wrap;
    }
    .home-header-logo-container{
        width: 80px;
    }
    .home-header-links{
        margin-top: 1rem;
        flex-grow: 1;
        order: 1;
        gap: 0.2rem;
        font-size: 0.75rem;
    }
    .home-header-buttons .button{
        font-size: 0.75rem;
        padding: 0.5em 1em;
    }
    .footer-nav{
        font-size: 0.875rem;
    }
    .process-container{
        flex-wrap: wrap;
        gap: 1rem;
    }
    .process-item{
        flex: 1 0 calc(50% - 1rem);
        padding-inline: 1rem;
    }
    .process-icon{
        margin-bottom: 0.75rem;
    }
    .process-title{
        font-size: 1rem;
    }
    .process-description{
        font-size: 0.875rem;
    }
    .content-container{
        gap: 1rem;
    }
    .cta-buttons{
        gap: 0.5rem;
        flex-wrap: wrap;
    }
    .cta-button{
        font-size: 0.75rem;
        padding: 0.5em 1em;
    }
    .main-title{
        font-size: 2rem;
    }
    .secondary-title{
        font-size: 1.5rem;
    }
    .small-title{
        font-size: 1rem;
    }
    .content-left, .content-right{
        margin-block: 0px;
    }
    .yellow-bg-title{
        font-size: 1.5rem;
    }
    .hero-content{
        max-width: 90%;
    }
    .content-title{
        font-size: 1.2rem;
    }
    .content-description{
        font-size: 0.875rem;
        margin-bottom: 1rem;
    }
    .founders-container{
        flex-wrap: wrap;
        gap: 1rem;
    }
    .founders{
        padding: 1rem;
    }
    .founders-image-container{
        height: 150px;
        width: 150px;
    }
    .founders-name{
        font-size: 1.15rem;
    }
    .founders-description{
        font-size: 0.875rem;
    }
}