/* Text */

.text-center{
    text-align: center;
}

/* Fonts */

.font-thin{
    font-weight: 100;
}
.font-extralight{
    font-weight: 200;
}
.font-light{
    font-weight: 300;
}
.font-normal{
    font-weight: 400;
}
.font-medium{
    font-weight: 500;
}
.font-semibold{
    font-weight: 600;
}
.font-bold{
    font-weight: 700;
}
.font-extrabold{
    font-weight: 800;
}
.font-black{
    font-weight: 900;
}


/* Margin */
.mb-4{
    margin-bottom: 1rem;
}

/* Padding */
.p-4{
    padding: 1rem;
}


/* Display */

.flex{
  display: flex;
}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center;
}
.gap-2{
    gap: 0.5rem;
}





/* Height */
.h-screen{
  height: 100svh;
}








/* Width */
.w-screen{
  width: 100%;
}




/* Row col */

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-50{
    padding: 0.5rem;
    width: 50%;
}
.col-100{
    padding: 0.5rem;
    width: 100%;
}